@import "theme";

@mixin themeify {
  @each $theme-name, $theme-map in $themes {
    $theme-map: $theme-map !global;
    [theme="#{$theme-name}"] & {
      @content;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin set_background_color($color) {
  @include themeify {
    background-color: themed($color);
  }
}

@mixin set_text_color($color) {
  @include themeify {
    color: themed($color);
  }
}

@mixin set_border_color($color) {
  @include themeify {
    border-color: themed($color);
  }
}

@mixin set_stroke_color($color) {
  @include themeify {
    stroke: themed($color);
  }
}

@mixin set_fill_color($color) {
  @include themeify {
    fill: themed($color);
  }
}
